@inherits LayoutComponentBase

<TelerikRootComponent>
    <div class="page">
        <main class="row">
            <NavMenu />
            @Body
            <FooterPage />
        </main>
    </div>
</TelerikRootComponent>